<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CupCakes</title>
</head>
<body>
    <ul id="cupcake_list">

    </ul>
    <form action="/api/cupcakes" method="post" id="new_cupcake_form">

        <label for="flavor">Flavor: </label>
        <input type="text" id="flavor" name="flavor" placeholder="Enter a flavor">

        <label for="size">Size: </label>
        <input type="text" id="size" name="size" placeholder="Enter a size">

        <label for="rating">Rating: </label>
        <input type="number" id="rating" name="rating" placeholder="Enter a rating">

        <label for="image">Image: </label>
        <input type="url" id="image" name="image" placeholder="Enter a url">

        <input type="submit" id="cupcake_btn" value="Add cupcake">

    </form>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/showCupcakes.js"></script>
</body>
</html>